name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add SSH key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
          set -e

          cd /var/www/HAMASA-ANALYTICS

          echo '➡️ Loading .env file'
          set -a
          source .env
          set +a

          echo '➡️ Running database backup before deploy'
          bash backup_db.sh

          echo '➡️ Pulling latest code'
          git fetch --all
          git reset --hard origin/main

          echo '➡️ Updating dependencies'
          source fast-env/bin/activate
          pip install -r requirements.txt --upgrade --no-cache-dir

          echo '⚠️ Skipping automatic Alembic migrations (manual mode)'

          echo '➡️ Restarting service'
          sudo systemctl restart hamasa.service
          "
