name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Add SSH key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i key.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} "
          set -e

          cd /var/www/HAMASA-ANALYTICS

          echo '➡️ Loading .env file'
          set -a
          if ! source .env 2>/tmp/env_errors.log; then
          echo '❌ .env contains invalid lines'
          cat /tmp/env_errors.log
          exit 1
          fi
          set +a

          echo '➡️ Pulling latest code'
          git fetch --all
          git reset --hard origin/main

          echo '➡️ Updating dependencies'
          cd /var/www/
          source fast-env/bin/activate
          pip install -r /var/www/HAMASA-ANALYTICS/requirements.txt --upgrade --no-cache-dir

          echo '⚠️ Skipping automatic Alembic migrations (manual mode)'

          echo '➡️ Restarting service'
          sudo systemctl restart hamasa.service
          "


